{% extends 'layout.html' %}
{% block content %}

<h1>{{ target_outline.data }}{{ target_outline.time_zone }}</h1>

<h2>風</h2> <!-- ロゴ挿入 -->
<table class="table">
  <tr>
    <th>風速：</th>
    <td>{{target_outline.wind_speed_min}}</td>
    <td>〜</td>
    <td>{{target_outline.wind_speed_max}}</td>
    <td>m/s</td>
  </tr>
  <tr>
    <th>風向：</th>
    <td>{{target_outline.wind_direction_min}}</td>
    <td>〜</td>
    <td>{{target_outline.wind_direction_max}}</td>
    <td>°</td>
  </tr>
  <tr>
    <th>強弱：</th>
    <td>{{target_outline.wind_speed_change}}</td>
  </tr>
</table>

<h2>波</h2> <!-- ロゴ挿入 -->
<table class="table">
  <tr>
    <th>海面：</th>
    <td>{{target_outline.sea_surface}}</td>
  </tr>
  <tr>
    <th>うねり:</th>
    <td>{{target_outline.swell}}</td>
  </tr>
</table>

<table class="table">
  <thead>
    <tr>
      <th>【艇番】</th>
      <th>【スキッパー】</th>
      <th>【クルー】</th>
    </tr>
  </thead>
  {% for device in device_list %}
    <tr>
      <td>{{outline.yacht_no}}</td>
      <td>{{outline.skipper_name}}</td>
      <td>{{outline.crew_name}}</td>
    </tr>
  {% endfor %}
</table>

<h3>【練習メニュー】</h3>
  <ul>
    <li>{{target_outline.training1}}</li>
    <li>{{target_outline.training2}}</li>
    <li>{{target_outline.training3}}</li>
    <li>{{target_outline.training4}}</li>
    <li>{{target_outline.training5}}</li>
    <li>{{target_outline.training6}}</li>
    <li>{{target_outline.training7}}</li>
    <li>{{target_outline.training8}}</li>
    <li>{{target_outline.training9}}</li>
    <li>{{target_outline.training10}}</li>
    <li>{{target_outline.training11}}</li>
    <li>{{target_outline.training12}}</li>
    <li>{{target_outline.training13}}</li>
    <li>{{target_outline.training14}}</li>
    <li>{{target_outline.training15}}</li>
  </ul>
<a class="btn btn-success" href="{{ url_for('show_outline')}}">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 変更
</a>



{% endblock %}
