header{
    overflow: hidden;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 40px;
    background-color: rgb(43,40,41);
    width: 100%;
    z-index: 2;
    color: snow;
    box-shadow: 2px 0px 4px black;
}



#wrapper{
    margin-top: 40px;
}

.menu-button {
    display: block;
    position: absolute;
    top: 10px;
    bottom:10px;
    left: 20px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background-size: contain;
}

.menu-button.right {
    right: 20px;
    left: auto;
    background-image: url(search.png);
}

.menu-button.left {
    right: auto;
    left: 20px;
    background-image: url(menu.png);
}


.menu-button.bottom {
    top: 100px;
}

.menu-button.fixed {
    position: fixed;
}

#overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.sidr-open #overlay {
    display: block;
}


#button-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    left: 0;

}

body {
  font-family: "VDL-GigaJr", sans-serif;
  margin-bottom: 100px;
}

@font-face {
  font-family: "VDL-GigaJr", sans-serif;
  font-display: swap;
}

html.wf-active {
  visibility: visible;
}

.main-size {
position: relative;
width: 100%;
min-height: 1px;
padding-right: 0px;
padding-left: 0px;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
}


.top-page-size {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}


/* 全般的な設定 */
.h5-title-div {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  height: 25px;
  background-color: rgb(94,92,96);
}

h5.h5title {
  color: rgb(255,255,255);
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.button-padding {
  padding-left: 15px;
  padding-bottom: 25px;
}

/* 練習概要、練習概要変更ページの全体にかける */
.contents-whole {
  background-color: rgb(71,70,71);
  color: rgb(255,255,255);
  border-collapse: collapse;
}

.contents-each {
  padding: 15px;
}

/* 入力項目に関するクラス */

.label-div {
  height: 34px;
  display:  table-cell;
  vertical-align: middle;
}

.label-layout {
  display: block;
  text-align: center;

}

.padding-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

/* 練習概要-艇番 */
.yacht-number-div {
  padding-left: 8px;
  padding-top: 8px;
}

.yacht-number-span {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255,255,255);
  padding: 2px;
}

/* 練習概要-スキッパーとクルー-表 */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

/* 練習概要変更-艇番追加と行追加ボタン */
.add-row-div {
  padding-right: 15px;
}

/* 練習概要変更-入力項目 */

/* Settings for fullwidth */
.sidr.fullwidth {
    width: 100%;
}

.sidr.left.fullwidth {
    left: -100%;
}

.sidr.right.fullwidth {
    right: -100%;
}

input {
  font-size: 1px;
}
/* END Settings for fullwidth */

input {
 font-size: 10px;
 /* transform: scale(0.8); */
}
