/*==========ページ全体(layout.html)への設定==========*/
body {
  font-family: "VDL-GigaJr", sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgb(71,70,71);
  margin-bottom: 0px;
}

div#sidr-left-top,
div#sidr-right-top{
  font-family: "VDL-GigaJr", sans-serif;
}

/*==========headerに関するクラス=========*/
header{
    overflow: hidden;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 45px;
    background-color: rgb(43,40,41);
    width: 100%;
    z-index: 2;
    color: snow;
    box-shadow: 2px 0px 4px black;
}

p#top-title {
  text-align: center;
  padding: 5px 0px 5px 0px;
  font-size: 25px;
}


div#wrapper{
    margin-top: 40px;
    margin-bottom:100px;
}

.menu-button {
    display: block;
    position: absolute;
    top: 10px;
    bottom:10px;
    left: 20px;
    overflow: hidden;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    background-size: contain;
}

.menu-button.right {
    right: 20px;
    left: auto;
    background-image: url(search.png);
}

.menu-button.left {
    right: auto;
    left: 20px;
    background-image: url(menu.png);
}


.menu-button.bottom {
    top: 100px;
}

.menu-button.fixed {
    position: fixed;
}

#overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.sidr-open #overlay {
    display: block;
}

@font-face {
  font-family: "VDL-GigaJr", sans-serif;
  font-display: swap;
}

html.wf-active {
  visibility: visible;
}

.main-size {
position: relative;
width: 100%;
min-height: 1px;
padding-right: 0px;
padding-left: 0px;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
}

/*==========ページ全体(layout.html)への設定==========*/
body {
  font-family: "VDL-GigaJr", sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgb(71,70,71);
  margin-bottom: 0px;
  -webkit-text-size-adjust: none;
}

/*ローディングアイコン*/
p#loading {
    display: none;
    position: fixed;
    width: 100%;
}

/*================================================*/

/* ==========タイトルバーに関する設定 ==========*/
/*上部、セカンド固定バー*/
h3.sub-fix-var {
  width: 100%;
  height: 28px;
  margin: -28px 0px 0px 0px;
  padding-top: 7px;
  padding-bottom: 5px;
  background-color: rgb(0,0,0);
  position: fixed;
  color: rgb(255,255,255);
  text-align: center;
  font-size: 18px;
}

/*h5タイトルバー*/
h5.first-sub-title {
  background-color: rgb(94,92,96);
  width: 100%;
  height: 30px;
  color: rgb(255,255,255);
  font-size: 20px;
  text-align: left;
  padding-left: 15px;

  margin: 68px 0px 0px 0px;
  padding-top: 4px;
  padding-bottom: 6px;
}

h5.sub-title {
  background-color: rgb(94,92,96);
  width: 100%;
  height: 30px;
  color: rgb(255,255,255);
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 6px;
}
/*==========================================*/

/*==========入力項目に関するクラス==========*/
/*input要素・select要素とlabel要素の位置関係*/
div.form-set {
  margin:10px 15px 10px 15px;
}

div.float-label label {
  float: left;
  width: 120px;
  height: 35px;
  padding: 6px 0px 14px 0px;
  margin:0px 10px 0px 0px;
  font-size: 15px;
  font-weight: normal;
}

div.float-input input,
div.float-input select {
  float: right;
  width: -webkit-calc(100% - 130px);
  width: calc(100% - 130px);
}


/*入力項目の詳細設定*/
input.input-form,
select.input-form,
textarea.input-form  {
  -webkit-appearance: none;
  display: block;
  width: 100%;

  /* padding: 0.375rem 0.75rem; */
  padding-left: 10px;

  font-size: 16px;
  line-height: 1.5;
  color: rgb(255,255,255);
  background-color: rgb(71,70,71);
  background-clip: padding-box;
  border: 1px solid rgb(255,255,255);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: visible;
}

input.input-form,
select.input-form {
  height: 30px;
}

/*ローディングアイコン*/
p#loading {
    display: none;
    cursor: wait;
}
/*======================================*/


/*==========TOPページ（top.html)==========*/
table#toppage-table {
  margin: 68px 0px 0px 0px;
}

/*TOPページをストライプにする場合は、コメントアウトしてください*/
/* table#toppage-table tbody tr:nth-of-type(odd) {
  background-color: rgb(94,92,96);
}

table#toppage-table tbody tr:nth-of-type(even) {
  background-color: rgb(71,70,71);
} */

table#toppage-table tbody tr td {
  text-align: center;
  height: 55px;
  font-size: 18px;
}

table#toppage-table tr td:nth-of-type(3) {
  padding-right: 0px;
}

table#toppage-table tr td:nth-of-type(4) {
  padding-left: 3px;
  padding-right: 3px;
}

table#toppage-table tr td:nth-of-type(5) {
  padding-left: 0px;
}

table#toppage-table tbody tr td img {
  height: 30px;
  width: auto;
}

table#toppage-table thead tr {
  background-color: rgb(0,0,0);
}

#button-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    left: 0;
}


/*=======================================*/

/*==========練習概要ページ(outline_detail.html)==========*/
table#sea-status {
  margin: 10px 15px 10px 45px;
}

td.status-icon {
  width: 33%;
  height: auto;
}

td.status-icon img {
  width: 100%;
  height: auto;
}

td.status-detail {
  width: 66%;
  text-align: center;
}

div.yacht-number {
  display:inline-block;
  margin: 10px auto 10px 15px;
  border: 1px solid rgb(255,255,255);
}

table.detail-outline-table-sc thead th,
table.detail-outline-table-sc tr td {
  border: none;
}

div.adjust-button {
  float: left;
  width: -webkit-calc(100% - 145px);
  width: calc(100% - 145px);
}

div.btn-add-comment {
  width: 100%;
  margin: 10px 15px 10px auto;
}

div.btn-add-comment button {
  float: right;
}

div.btn-edit {
  float: right;
  margin: 10px 15px 10px auto;
}

div.name-comment {
  margin: 0px 15px 0px 15px;
}

div.comment-form-set {
  margin:10px 15px 10px 15px;
}
/*=======================================================*/

/*========練習概要追加・変更ページ(show_outline.html)========*/
/*スキッパーとクルーの表*/
table#edit-outline-table tr td {
  border: none;
}

table#edit-outline-table tr td.outline-td-skipper {
  padding: 10px 5px 10px 15px;
  width: 50%;
}

table#edit-outline-table tr td.outline-td-crew {
  padding: 10px 15px 10px 5px;
  width: 50%;
}

ol#menu li {
  padding-right: 15px;
  margin: 10px 0px 10px 0px;
}

div.input-menu {
  display: inline-block;
  width: 100%;
}

/*行の追加ボタン*/
button.btn-for-outline {
  float: right;
  display: inline-block;
  height: 34px;
  background-color: rgb(0,0,0);

  width: 90px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;

  border: 1px solid transparent;
  border-radius: 5px;

  font-weight: 800;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: rgb(255,255,255);
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*「ノートを保存」ボタン*/
button.btn-submit {
  float: right;
}

/*「ノートを保存」「ノートを削除」ボタンの背景*/
div#bgc-for-btn {
  background-color: rgb(94,92,96);
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 15px 10px 15px;
}
/*=======================================================*/

/*==========管理画面==========*/
/*管理画面一覧*/
div.admin-list {
  margin: 65px 15px 10px 15px;
}

div.admin-form-set {
  margin: 10px 15px 10px 15px;
  width: 100%;
}

div.left-admin {
  float: left;

  width: 45%;
  height: auto;

  margin: 5px;
  padding: 10px;

  border: 1px solid rgb(255,255,255);
  border-radius: 10px;
}

div.right-admin {
  float: right;

  width: 45%;
  height: auto;

  margin: 5px;
  padding: 10px;

  border: 1px solid rgb(255,255,255);
  border-radius: 10px;
}

img.admin-top-image {
  width: 100%;
}

p.admin-title {
  text-align: center;
  color: rgb(255,255,255);
  margin: 0px;
}

div.admin-add-data {
  width: 100%;
  margin: 10px 15px 10px 15px;
}

div.admin-add-data button {
  float: right;
}

table.admin-table {
  margin: 10px 15px 10px 15px;
}
/*===========================*/

/*==========ランキング==========*/
canvas.ranking-graph {
  width: 100%;
}

div#btn-filter-box {
  width: 100%
}

button#btn-filter {
  float: right;
  margin: 10px 15px 10px auto;
}

/*============================*/

/* Settings for fullwidth */
.sidr.fullwidth {
    width: 100%;
}

.sidr.left.fullwidth {
    left: -100%;
}

.sidr.right.fullwidth {
    right: -100%;
}

input {
 font-size: 10px;
 /* transform: scale(0.8); */
}

