{% extends ‘layout.html’ %}
{% block content %}
 <h1>{{ title }}</h1>

 <h2>【新規追加】</h2>
 <form action=“{{ url_for(‘add_device’) }}” method=“post” class=“form-inline”>
   <label for=“deviceno”>Device No.</label>
     <input type=“text” class=“form-control” id=“deviceno” name=“deviceno”>
   <label for=“devicename”>Device Name</label>
     <input type=“text” class=“form-control” id=“devicename” name=“devicename”>
   <button type=“submit” class=“btn btn-primary”>
       <span class=“glyphicon glyphicon-plus-sign” aria-hidden=“true”></span> 追加
   </button>
 </form>

 <h2>【登録済みデバイス】</h2>
 <table class=“table”>
   <thead>
     <tr>
       <th>ID</th>
       <th>Device No.</th>
       <th>Device Name</th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     {% for device in device_list %}
     <tr>
       <td>{{device.key.id}}</td>
       <td>{{device.device_no}}</td>
       <td>{{device.device_name}}</td>
       <td>
         <a class=“btn btn-success” href=“{{ url_for(‘show_device’, device_id=device.key.id) }}“>
           <span class=“glyphicon glyphicon-search” aria-hidden=“true”></span> 変更
         </a>
       </td>
       <td>
         <form class=“text-right” action=“{{ url_for(‘del_device’, device_id=device.key.id) }}” method=“post”>
           <button type=“submit” class=“btn btn-danger”>
             <span class=“glyphicon glyphicon-trash” aria-hidden=“true”></span> 削除
           </button>
         </form>
       </td>
     </tr>
     {% endfor %}
   </tbody>
 </table>

{% endblock %}
