{% extends 'layout.html' %}
{% block content %}
  <h3 class="sub-fix-var">{{ title }}</h3>

  <h5 class="first-sub-title">■ 新規追加</h5>

  <form action="{{ url_for('add_menu') }}" method="post" class="admin-form-set">
    <div class="clearfix">
      <div class="float-label">
        <label for="menu">練習メニュー</label>
      </div>
      <div class="float-input">
        <input type="text" class="input-form" id="menu" name="menu">
      </div>
    </div>

    <div class="admin-add-data clearfix">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 練習メニュー追加
      </button>
    </div>

  </form>

  <h5 class="sub-title">■ 登録済み練習メニュー</h5>
  <table class="table">
    <thead>
      <tr>
        <th>練習メニュー</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for menu in menu_list %}
      <tr>
        <td>{{menu.training_menu}}</td>
        <td>
          <a class="btn btn-success" href="{{ url_for('show_menu', menu_id=menu.key.id) }}">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 変更
          </a>
        </td>
        <td>
          <form class="text-right" action="{{ url_for('del_menu', menu_id=menu.key.id) }}" method="post">
            <button type="submit" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 削除
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
