{% extends 'layout.html' %}
{% block content %}

  <div class="admin-list">

    <div class="clearfix">
      <a href="{{ url_for('admin_c.admin_player')}}">
        <div class="left-admin">
          <div>
            <img class="admin-top-image" src="../static/img/admin/player.png" class="img-responsive">
          </div>
          <p class="admin-title">選手</p>
        </div>
      </a>

      <a href="{{ url_for('admin_c.admin_yacht')}}">
        <div class="right-admin">
          <div>
            <img class="admin-top-image" src="../static/img/admin/yacht.png" class="img-responsive">
          </div>
          <p class="admin-title">ヨット</p>
        </div>
      </a>
    </div>

    <div class="clearfix">
      <a href="{{ url_for('admin_c.admin_device')}}">
        <div class="left-admin">
          <div>
            <img class="admin-top-image" src="../static/img/admin/device.png" class="img-responsive">
          </div>
          <p class="admin-title">デバイス</p>
        </div>
      </a>

      <a href="{{ url_for('admin_c.admin_menu')}}">
        <div class="right-admin">
          <div>
            <img class="admin-top-image" src="../static/img/admin/practice.png" class="img-responsive">
          </div>
          <p class="admin-title">練習メニュー</p>
        </div>
      </a>
    </div>

  </div>

{% endblock %}
