{% extends 'layout.html' %}
{% block content %}
  <h3 class="sub-fix-var">{{ title }}</h3>

  <h5 class="first-sub-title">■ 新規追加</h5>

  <form action="{{ url_for('admin_c.add_player') }}" method="post" class="admin-form-set">

    <div class="clearfix">
      <div class="float-label">
        <label for="playername">氏名</label>
      </div>
      <div class="float-input">
        <input type="text" class="input-form" id="playername" name="playername">
      </div>
    </div>
    <div class="clearfix">
      <div class="float-label">
        <label for="playername">ふりがな</label>
      </div>
      <div class="float-input">
        <input type="text" class="input-form" id="playerspell" name="playerspell">
      </div>
    </div>
    <div class="clearfix">
      <div class="float-label">
        <label for="year">入学年</label>
      </div>
      <div class="float-input">
        <select name="year" class="input-form">
          <option value="">-</option>
          {% for admission_year in admission_years %}
            <option value={{ admission_year }}>{{ admission_year }}</option>
          {% endfor %}
        </select>　
      </div>
    </div>

    <div class="clearfix">
      <button type="submit" class="btn btn-primary comment-edit-button flexiblebox btn-float-right">
        <img src="{{ url_for('static', filename='img/button/plus.png') }}" class="img-responsive button-img">
        <p class="button-text">選手追加</p>
      </button>
    </div>

  </form>

  <h5 class="sub-title">■ 登録済み選手</h5>
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>入学年</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for player in sorted_players %}
      <tr>
        <td>{{player.player_name}}</td>
        <td>{{player.admission_year}}</td>
        <td>
          <a class="btn btn-success" href="{{ url_for('admin_c.show_player', player_id=player.key.id) }}">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 変更
          </a>
        </td>
        <td>
          <form class="text-right" action="{{ url_for('admin_c.del_player', player_id=player.key.id) }}" method="post">
            <button type="submit" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 削除
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
