<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
{##}
  <title>{{ title }}</title>
</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('admin_player')}}">選手管理</a>
                </li>
                <li>
                    <a href="{{ url_for('admin_yacht')}}">ヨット管理</a>
                </li>
                <li>
                    <a href="{{ url_for('admin_device')}}">デバイス管理</a>
                </li>
                <li>
                    <a href="{{ url_for('admin_menu')}}"> 練習メニュー</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
             <div class="container">
                 {% block content %}{% endblock %}
             </div>
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        </div>
    </div>

    <!-- /#page-content-wrapper -->
  </div>


    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
