<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Sidr bundled CSS theme -->
    <link rel="stylesheet" href="../static/css/jquery.sidr.light.css">
    <!-- Your CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
  <title>{{ title }}</title>
</head>

<body>
    <!-- Nav -->
    <div id="sidr-left-top">
      <h1>Sidr left top</h1>
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin_player')}}">選手管理</a>
            </li>
            <li>
                <a href="{{ url_for('admin_yacht')}}">ヨット管理</a>
            </li>
            <li>
                <a href="{{ url_for('admin_device')}}">デバイス管理</a>
            </li>
            <li>
                <a href="{{ url_for('admin_menu')}}"> 練習メニュー</a>
            </li>
        </ul>
    </div>

    <!-- Nav -->
    <div id="sidr-right-top">
      <h1>Sidr Right top</h1>
      <ul>
        <li><a href="index.html">All Examples</a></li>
        <li class="active"><a href="#">Dummy 2</a></li>
        <li><a href="#">Dummy 3</a></li>
      </ul>
    </div>



    <div id="wrapper">
        <header>
            header
            <a id="sidr-left-top-button" class="menu-button left" href="#sidr-left-top">Toggle menu</a>
            <a id="sidr-right-top-button" class="menu-button right" href="#sidr-right-top">Toggle menu</a>
        </header>
        <!-- /#sidebar-wrapper -->



    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- /#page-content-wrapper -->
  </div>


    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- scrolling-nav JavaScript -->
    <script src="../static/js/scrolling-nav.js"></script>

    <script src="../static/js/jquery.sidr.js"></script>

    <!-- Your code -->
    <script>

    $(document).ready(function () {
      $('#sidr-left-top-button').sidr({
        name: 'sidr-left-top',
        timing: 'ease-in-out',
        speed: 500,
        source: 'sidr-left-top'
      });

      $('#sidr-right-top-button').sidr({
        name: 'sidr-right-top',
        speed: 500,
        side: 'right',
        source: 'sidr-right-top'
      });
    });

    $( window ).resize(function () {
      $.sidr('close', 'sidr-left-top');
      $.sidr('close', 'sidr-right-top');
    });

    </script>
</body>
</html>
