<!DOCTYPE html>
<html class="wf-active">
<head>
  <meta charset="utf-8">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <link  rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ios でホーム画面から開いたときにアプリっぽく全画面表示する -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Include Sidr bundled CSS theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.sidr.light.css') }}">
    <!-- Your CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- アイコン画像 -->
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/icon.jpg') }}" />

    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/font.js') }}"></script>

  <title>{{ title }}</title>
</head>

<body>
    <header>
        <p id="top-title" href="{{ url_for('top')}}">
            <a href="{{ url_for('top')}}" style="color: white;text-decoration:none">Webヨットノート</a>
        </p>
        <a id="sidr-left-top-button" class="menu-button left" href="#sidr-left-top">Toggle menu</a>
        {% block right_sidebar_button %}{% endblock %}
    </header>

  <div id="wrapper" class="main-size">

    <div id="sidr-left-top">
        <ul class="sidebar-nav">
            <li style="background-color: #474647">
                <a href="#sidr-left-top" class="close-sidr" style="color: white" onclick="$.sidr('close', 'sidr-left-top');return false;">
                    <img src="{{ url_for('static', filename='img/back.png') }}" height="30px"> メニュー
                </a>
            </li>
            <li>
                <a href="{{ url_for('top')}}"><img src="{{ url_for('static', filename='img/left_bar/home.png') }}" height="30px"> トップページ</a>
            </li>
            <!--<li>-->
                <!--<a href="{{ url_for('about')}}"><img src="{{ url_for('static', filename='img/question_mark.png') }}" height="30px"> Webヨットノートとは</a>-->
            <!--</li>-->
            <li>
                <a href="{{ url_for('how_to_use')}}"><img src="{{ url_for('static', filename='img/left_bar/gear.png') }}" height="30px"> 使い方</a>
            </li>
            <li>
                <a href="{{ url_for('demand')}}" onClick="loading();"><img src="{{ url_for('static', filename='img/left_bar/update.png') }}" height="30px"> アップデート予定</a>
            </li>
            <li>
                <a href="{{ url_for('ranking')}}" onClick="loading();"><img src="{{ url_for('static', filename='img/left_bar/crown.png') }}" height="30px"> ランキング</a>
            </li>
            <li>
                <a href="{{ url_for('admin_top')}}"><img src="{{ url_for('static', filename='img/left_bar/wrench.png') }}" height="30px"> 管理ページ</a>
            </li>
        </ul>
        <p class="text-muted text-center">© 2019 Webヨットノート</p>
    </div>
    <!-- 右サイドバー -->
    {% block right_sidebar %}{% endblock %}
    <div id="content">
        <!-- Page Content -->
        {% block content %}{% endblock %}
    </div>
    <!-- /#page-content-wrapper -->
  </div>


    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery.sidr.js') }}"></script>

    <!-- Your code -->
    <script>

        $(document).ready(function () {
          $('#sidr-left-top-button').sidr({
            name: 'sidr-left-top',
            timing: 'ease-in-out',
            speed: 500,
            source: 'sidr-left-top'
          });

          $('#sidr-right-top-button').sidr({
            name: 'sidr-right-top',
            speed: 500,
            side: 'right',
            source: 'sidr-right-top'
          });
        });

        $( window ).resize(function () {
          $.sidr('close', 'sidr-left-top');
          $.sidr('close', 'sidr-right-top');
        });
    </script>

    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            // $("#content").hide();
            $("#loading").fadeOut(10000);
            // $("#content").fadeIn(50000);
        }
// ]]></script>

</body>
</html>
