{% extends 'layout.html' %}
{% block content %}

<h3 class="text-center">{{ target_entities[0].date }}{{ target_entities[0].time_category }}</h3>

<div class="h5-title-div">
  <h5 class="h5title">■ 海面状況</h5>
</div>

<table>

<tr>
  <td rowspan=2 class="col-xs-4">
    <img id="add-button" src="../static/css/flag_red.png" class="img-responsive">
  </td>
  <td>風速：{{target_entities[0].wind_speed_min}}〜{{target_entities[0].wind_speed_max}}m/s</td>
</tr>
<tr>
  <td>強弱：{{target_entities[0].wind_speed_change}}</td>
</tr>

<tr>
  <td rowspan=2 class="col-xs-4">
    <img id="add-button" src="../static/css/flag_red.png" class="img-responsive">
  </td>
  <td>風向：{{target_entities[0].wind_direction_min}}</td>
</tr>
<tr>
  <td>強弱：{{target_entities[0].wind_speed_change}}</td>
</tr>

<tr>
  <td rowspan=2 class="col-xs-4">
    <img id="add-button" src="../static/css/flag_red.png" class="img-responsive">
  </td>
  <td>波：{{target_entities[0].sea_surface}}</td>
</tr>
<tr>
  <td>うねり：{{target_entities[0].sea_surface}}</td>
</tr>

</table>

<div class="h5-title-div">
  <h5 class="h5title">■ 配艇</h5>
</div>

<table class="table">
  <thead>
    <tr>
      <th>艇番</th>
      <th>スキッパー</th>
      <th>クルー</th>
    </tr>
  </thead>
  {% for outline2 in target_entities[1] %}
    {% if outline2.yacht_number and outline2.device_id %}
    <tr>
      <td rowspan="{{outline2.rowspan}}">{{outline2.yacht_number}}</td>
      <td>{{outline2.skipper1}}</td>
      <td>{{outline2.crew1}}</td>
    </tr>
    {% endif %}
    {% if outline2.skipper2 %}
      <tr>
        <td>{{outline2.skipper2}}</td>
        <td>{{outline2.crew2}}</td>
      </tr>
    {% endif %}
    {% if outline2.skipper3 %}
      <tr>
        <td>{{outline2.skipper3}}</td>
        <td>{{outline2.crew3}}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

<div class="h5-title-div">
  <h5 class="h5title">■ 練習メニュー</h5>
</div>

  <ol>
    {% if target_entities[0].training1 %}
      <li>{{target_entities[0].training1}}</li>
    {% endif %}

    {% if target_entities[0].training2 %}
      <li>{{target_entities[0].training2}}</li>
    {% endif %}

    {% if target_entities[0].training3 %}
      <li>{{target_entities[0].training3}}</li>
    {% endif %}

    {% if target_entities[0].training4 %}
      <li>{{target_entities[0].training4}}</li>
    {% endif %}

    {% if target_entities[0].training5 %}
      <li>{{target_entities[0].training5}}</li>
    {% endif %}

    {% if target_entities[0].training6 %}
      <li>{{target_entities[0].training6}}</li>
    {% endif %}

    {% if target_entities[0].training7 %}
      <li>{{target_entities[0].training7}}</li>
    {% endif %}

    {% if target_entities[0].training8 %}
      <li>{{target_entities[0].training8}}</li>
    {% endif %}

    {% if target_entities[0].training9 %}
      <li>{{target_entities[0].training9}}</li>
    {% endif %}

    {% if target_entities[0].training10 %}
      <li>{{target_entities[0].training10}}</li>
    {% endif %}

    {% if target_entities[0].training11 %}
      <li>{{target_entities[0].training11}}</li>
    {% endif %}

    {% if target_entities[0].training12 %}
      <li>{{target_entities[0].training12}}</li>
    {% endif %}

    {% if target_entities[0].training13 %}
      <li>{{target_entities[0].training13}}</li>
    {% endif %}

    {% if target_entities[0].training14 %}
      <li>{{target_entities[0].training14}}</li>
    {% endif %}

    {% if target_entities[0].training15 %}
      <li>{{target_entities[0].training15}}</li>
    {% endif %}
  </ol>

<h3>コメント欄</h3>
  <form action="{{ url_for('add_comment', target_outline_id=target_entities[0].outline_id)}}" method="post" class="form-inline">
    <label for="name">名前</label><br>
      <input type="text" class="form-control" id="name" name="name"><br>
    <label for="name">コメント</label><br>
      <textarea class="form-control" rows=2 id="comment" name="comment"></textarea><br>
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> コメント追加
    </button>
  </form>
  <hr>

  {% for user_comment in sorted_comments %}
    <div>{{user_comment.name}} ({{user_comment.commented_date}}) :</div>
    <div class="mb-2">{{user_comment.comment}}</div>
    <hr>
  {% endfor %}

<a class="btn btn-success" href="{{ url_for('show_outline', target_outline_id=target_entities[0].outline_id )}}">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 変更
</a>

{% endblock %}
