{% extends 'layout.html' %}
{% block content %}


<script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>

<h3 class="sub-fix-var">{{ target_entities[0].date }}{{ target_entities[0].day }}</h3>

<h5 class="first-sub-title">■ GPSデータ</h5>
{% if log_message == 'GPSデータなし' %}
    {{ log_message }}
{% else %}
    <iframe src="{{ html_url }}" width="100%" height="300px" >#document</iframe>
    {% for yc in yacht_color %}
      <span style="color:{{ yc.color }}">{{ yc.yacht }}　</span>
    {% endfor %}

    <form action="{{ url_for('outline_c.gps_animation', target_outline_id=target_entities[0].outline_id) }}" method="post">
      <button type="submit" class="btn btn-primary comment-edit-button flexiblebox btn-margin btn-float-left">
        <img src="{{ url_for('static', filename='img/button/glass.png') }}" class="img-responsive button-img">
        <p class="button-text">GPSログ詳細</p>
      </button>
    </form>

    <form action="{{ url_for('outline_c.draw_map', target_outline_id=target_entities[0].outline_id) }}" method="post">
      <button type="submit" class="btn btn-success comment-edit-button flexiblebox btn-margin btn-float-right">
        <img src="{{ url_for('static', filename='img/button/reload.png') }}" class="img-responsive button-img">
        <p class="button-text">GPSデータを更新</p>
      </button>
    </form>

    <div style="clear:both"></div>

{% endif %}

<h5 class="sub-title">■ 海面状況</h5>

  <table id="sea-status">
    <tr>
      <td rowspan=2 class="status-icon">
        <img src="../static/img/flag/{{ target_entities[0].icon_flag }}" class="img-responsive">
      </td>
      <td class="status-detail">風速：{{target_entities[0].wind_speed_min}}〜{{target_entities[0].wind_speed_max}}m/s</td>
    </tr>
    <tr>
      <td class="status-detail">風速変化：{{target_entities[0].wind_speed_change}}</td>
    </tr>

    <tr>
      <td rowspan=2 class="status-icon">
        <img src="../static/img/compass/{{ target_entities[0].icon_compass }}" class="img-responsive">
      </td>
      <td class="status-detail">風向：{{target_entities[0].wind_direction}}</td>
    </tr>
    <tr>
      <td class="status-detail">風向変化：{{target_entities[0].wind_direction_change}}</td>
    </tr>

    <tr>
      <td rowspan=2 class="status-icon">
        <img src="../static/img/wave/{{ target_entities[0].icon_wave }}" class="img-responsive">
      </td>
      <td class="status-detail">波：{{target_entities[0].sea_surface}}</td>
    </tr>
    <tr>
      <td class="status-detail">うねり：{{target_entities[0].swell}}</td>
    </tr>
  </table>

  <h5 class="sub-title">■ 配艇</h5>

  {% for outline2 in target_entities[1] %}

    {% if outline2.yacht_number %}

    <div class="yacht-number">
      {{outline2.yacht_number}}
    </div>

    <table class="table detail-outline-table-sc">
      <thead>
        <tr>
          <th></th>
          <th>スキッパー</th>
          <th>クルー</th>
        </tr>
      </thead>

      {% if outline2.skipper1 %}
        <tr>
          <td>1.</td>
          <td>{{outline2.skipper1}}</td>
          <td>{{outline2.crew1}}</td>
        </tr>
      {% endif %}

      {% if outline2.skipper2 %}
        <tr>
          <td>2.</td>
          <td>{{outline2.skipper2}}</td>
          <td>{{outline2.crew2}}</td>
        </tr>
      {% endif %}

      {% if outline2.skipper3 %}
        <tr>
          <td>3.</td>
          <td>{{outline2.skipper3}}</td>
          <td>{{outline2.crew3}}</td>
        </tr>
      {% endif %}

      {% if outline2.skipper4 %}
        <tr>
          <td>4.</td>
          <td>{{outline2.skipper4}}</td>
          <td>{{outline2.crew4}}</td>
        </tr>
      {% endif %}



    </table>

    {% endif %}

  {% endfor %}

  <h5 class="sub-title">■ 練習メニュー</h5>

  <canvas id="train_chart" width="300" height="300"></canvas>

  <script>
    // set var
    var menu = {{ training_data.training_menu | tojson }};
    var percent = {{ training_data.training_ratio | tojson }};
    var color = ["#45aaf2", "#eb3b5a", "#20bf6b","#3867d6", "#fa8231", "#d1d8e0", "#fed330", "#0fb9b1", "#4b7bec","#778ca3"];

    var myChart = document.getElementById("train_chart").getContext('2d');
    var dataLabelPlugin = {
        afterDatasetsDraw: function (chart, easing) {
            var ctx = chart.ctx;
            chart.data.datasets.forEach(function (dataset, i) {
                var meta = chart.getDatasetMeta(i);
                if (!meta.hidden) {
                    meta.data.forEach(function (element, index) {
                        ctx.fillStyle = 'rgb(255, 255, 255)';

                        var fontSize = 13;
                        var fontStyle = 'normal';
                        var fontFamily = 'Helvetica Neue';
                        ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                        var labelString = chart.data.labels[index];
                        var dataString = dataset.data[index].toString()+'％';
                        // var dataString =  dataset.data[index].toString();


                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'middle';

                        var padding = 5;
                        var position = element.tooltipPosition();
                        ctx.fillText(labelString, position.x, position.y - (fontSize / 2) - padding);
                        ctx.fillText(dataString, position.x, position.y + (fontSize / 2) - padding);
                    })
                }
            })
        }
    }


    var chart = new Chart(myChart, {
      type: 'pie',
      data: {
        labels: menu,
        datasets: [{
          backgroundColor: color,
          data: percent
        }]
      },
        options: {
          title: {
            display: true,
            text: '練習時間の比率',
            fontColor: "white",
            fontSize:16
          },
          legend:{
            labels:{
              fontColor: "white",
            },
          },
      },
        plugins: [dataLabelPlugin],
    });
  </script>

  <table class="table detail-outline-table-sc">
    <!-- For loop logic of jinja template -->
        {% if target_entities[0].training1 %}
          <tr>
            <td>1</td>
            <td>{{target_entities[0].training1 }}</td>
            <td>{{target_entities[0].training_time1 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training2 %}
          <tr>
            <td>2</td>
            <td>{{target_entities[0].training2 }}</td>
            <td>{{target_entities[0].training_time2 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training3 %}
          <tr>
            <td>3</td>
            <td>{{target_entities[0].training3 }}</td>
            <td>{{target_entities[0].training_time3 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training4 %}
          <tr>
            <td>4</td>
            <td>{{target_entities[0].training4 }}</td>
            <td>{{target_entities[0].training_time4 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training5 %}
          <tr>
            <td>5</td>
            <td>{{target_entities[0].training5 }}</td>
            <td>{{target_entities[0].training_time5 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training6 %}
          <tr>
            <td>6</td>
            <td>{{target_entities[0].training6 }}</td>
            <td>{{target_entities[0].training_time6 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training7 %}
          <tr>
            <td>7</td>
            <td>{{target_entities[0].training7 }}</td>
            <td>{{target_entities[0].training_time7 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training8 %}
          <tr>
            <td>8</td>
            <td>{{target_entities[0].training8 }}</td>
            <td>{{target_entities[0].training_time8 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training9 %}
          <tr>
            <td>9</td>
            <td>{{target_entities[0].training9 }}</td>
            <td>{{target_entities[0].training_time9 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training10 %}
          <tr>
            <td>10</td>
            <td>{{target_entities[0].training10 }}</td>
            <td>{{target_entities[0].training_time10 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training11 %}
          <tr>
            <td>11</td>
            <td>{{target_entities[0].training11 }}</td>
            <td>{{target_entities[0].training_time11 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training12 %}
          <tr>
            <td>12</td>
            <td>{{target_entities[0].training12 }}</td>
            <td>{{target_entities[0].training_time12 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training13 %}
          <tr>
            <td>13</td>
            <td>{{target_entities[0].training13 }}</td>
            <td>{{target_entities[0].training_time13 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training14 %}
          <tr>
            <td>14</td>
            <td>{{target_entities[0].training14 }}</td>
            <td>{{target_entities[0].training_time14 }}分</td>
          </tr>
        {% endif %}
        {% if target_entities[0].training15 %}
          <tr>
            <td>15</td>
            <td>{{target_entities[0].training15 }}</td>
            <td>{{target_entities[0].training_time15 }}分</td>
          </tr>
        {% endif %}
  </table>

  <h5 class="sub-title">■ コメント欄</h5>

  <form action="{{ url_for('outline_c.add_comment', target_outline_id=target_entities[0].outline_id)}}" method="post" class="comment-space">
    <div>
      <label for="name">名前</label>
      <input type="text" class="comment-name-font input-form" id="name" name="name">
    </div>
    <div>
      <label for="name">コメント</label>
      <textarea class="comment-text-font input-form comment-text-input" rows=2 id="comment" name="comment"></textarea>
    </div>
    <div class="btn-add-comment clearfix">
      <button type="submit" class="btn btn-primary comment-edit-button flexiblebox">
        <img src="{{ url_for('static', filename='img/button/plus.png') }}" class="img-responsive button-img">
        <p class="button-text"> コメントを追加</p>
      </button>
    </div>
  </form>
  <hr>

  {% for user_comment in sorted_comments %}
  <a class="outline-comment" href="{{ url_for('outline_c.show_comment', comment_id=user_comment.key.id) }}">
    <div class="comment-name-font comment-space" ontouchstart="">{{user_comment.name}} ({{user_comment.commented_date}}) :</div>
    <div class="comment-text-font comment-space commnet-text-show" ontouchstart="">{{user_comment.comment}}</div>
    <hr>
  </a>
  {% endfor %}

    <a href="{{ url_for('outline_c.post_slack', target_outline_id=target_entities[0].outline_id) }}" class="btn btn-warning btn-delete comment-edit-button flexiblebox btn-margin btn-float-left">
      <p class="button-text">Slackに投稿</p>
    <a></a>

  <form action="{{ url_for('outline_c.show_outline', target_outline_id=target_entities[0].outline_id) }}" method="post">
    <button type="submit" class="btn btn-success comment-edit-button flexiblebox btn-margin btn-float-right">
      <img src="{{ url_for('static', filename='img/button/pencil.png') }}" class="img-responsive button-img">
      <p class="button-text">ノートを編集</p>
    </button>
  </form>

{% endblock %}
