{% extends 'layout.html' %}

{% block content %}
  <script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<h3 class="sub-fix-var">{{ outline_name }}</h3>

  {% if no_value_message is not none %}
    <p class="bg-warning text-center">{{ no_value_message }}</p>
  {% else %}
  {%endif %}
  <h5 class="first-sub-title">■ 練習検索</h5>

  <form action="{{ url_for('ranking') }}" method="post" class="form-inline input-form">
    <div class="ranking-form-set">
      <select name="filter_outline" id="filter_outline" class="input-form">
        {% for outline in filter_list %}
          <option value="{{ outline.outline_id }}">{{ outline.date }} {{ outline.time_category }}</option>
        {% endfor %}
      </select>
    </div>
    <div id="btn-filter-box" class="clearfix">
      <button type="submit" class="btn btn-primary" id="btn-filter" style="float:right">検索</button>
    </div>
  </form>

  <h5 class="sub-title">■ 最高速度(knot)</h5>
  <canvas id="max_speed" class="ranking-graph"></canvas>

  <h5 class="sub-title">■ 合計航行距離(km)</h5>
  <canvas id="sum_distance" class="ranking-graph"></canvas>
  <!--チャート設定-->
  <script>
      var max_speed = {{ max_speed_values.speed | tojson }};
      var labels_max_speed = {{ max_speed_values.label | tojson }};
      var sum_distance = {{ sum_distance_values.distance | tojson }};
      var labels_sum_distance = {{ sum_distance_values.label | tojson }};

      // 最高スピードの値
      var data_max_speed = {
        // X軸のラベル
        labels: labels_max_speed,
        datasets: [{
          // 線の太さを指定(px)
          borderWidth: 1,
          hoverBorderWidth:100, // ホバー時の枠線の太さ
          // 背景色指定(各グラフ毎)
          backgroundColor: Array.apply(null, Array(20)).map(function(){ return 'rgba(255, 206, 86, 0.2)' }),
          //棒グラフの外枠線の色指定(グラフ毎)
          borderColor: Array.apply(null, Array(20)).map(function(){ return 'rgba(255, 206, 86, 1)' }),
          //グラフの数値
          data: max_speed,
          datalabels: {
              align: 'end',
              anchor: 'end',
              color: '#fff',
              font: {
                  size: 15
              },
          }
        }]
      };

      // 合計走行距離の値
      var data_sum_distance = {
        // X軸のラベル
        labels: labels_sum_distance,
        datasets: [{
          // 線の太さを指定(px)
          borderWidth: 1,
          hoverBorderWidth:100, // ホバー時の枠線の太さ
          // 背景色指定(各グラフ毎)
          backgroundColor: Array.apply(null, Array(20)).map(function(){ return 'rgba(75, 192, 192, 0.2)'}),
          //棒グラフの外枠線の色指定(グラフ毎)
          borderColor: Array.apply(null, Array(20)).map(function(){ return 'rgba(75, 192, 192, 1)' }),
          //グラフの数値
          data: sum_distance,
          datalabels: {
              align: 'end',
              anchor: 'end',
              color: '#fff',
              font: {
                  size: 15
              },
          }
        }]
      };

      var option = {
        plugins: {
          filler: {
            propagate: true
          }
        },
        legend: {
          display: false,
        },
        // 目盛の設定
        scales: {
          // 横軸の設定
          xAxes: [{
            ticks: { // 目盛の設定
              display:false,
              min: 0, // Y軸の最大値
              max: Math.round(Math.max.apply(null, max_speed)) * 1.5, // Y軸の最小値
              beginAtZero: true,
              type: "time",
              time: {
                unit: 'minute',
                displayFormat: 'HH:mm',
              },
            },
            // グリッド線の設定
            gridLines:{
              display: false,
              // drawBorder:false,
              // lineWidth:1,
            },
          }],
          //縦軸の設定
          yAxes: [{
            barThickness:20,  //各バーの幅
            ticks: {
              beginAtZero: true, //開始値を0にする
              fontSize: 15,       //フォントサイズ
              fontColor: "#fff", //フォントカラー
              maxRotation: 0,  // 最大角度
              minRotation: 0, // 斜めに表示
            },
          }],
        },
      };

      // コピー
      var option_max_speed = JSON.parse(JSON.stringify(option));
      var option_sum_distance = JSON.parse(JSON.stringify(option));

      // knot形式になおす
      option_max_speed.scales.xAxes[0].ticks.max = Math.round(Math.max.apply(null, max_speed)) * 1.5;
      option_sum_distance.scales.xAxes[0].ticks.max = Math.round(Math.max.apply(null, sum_distance)) * 1.5;

      // グラフ出力
      var ctx = document.getElementById('max_speed');
      new Chart(ctx, {
        type: 'horizontalBar',
        data: data_max_speed,
        options: option_max_speed,
      });

      // グラフ出力
      var ctx = document.getElementById('sum_distance');
      new Chart(ctx, {
        type: 'horizontalBar',
        data: data_sum_distance,
        options: option_sum_distance,
      });
  </script>

{% endblock %}
