{% extends 'layout.html' %}

{% block right_sidebar_button %}
<a id="sidr-right-top-button" class="menu-button right" href="#sidr-right-top">Toggle menu</a>
{% endblock %}

{% block right_sidebar %}
<div id="sidr-right-top">
    <form action="{{ url_for('ranking') }}" method="post" class="form-inline">
      <ul>
        <li>
          時間区分：
            <select name="filter_outline" id="filter_outline" class="form-control">
              {% for outline in filter_list %}
                <option value="{{ outline.outline_id }}">{{ outline.date }} {{ outline.time_category }}</option>
              {% endfor %}
            </select>
        </li>

      </ul>

      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> フィルター
      </button>
    </form>
</div>
{% endblock %}


{% block content %}
  <script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

  <h2>{{ outline_name }}</h2>

  {% if no_value_message is not none %}
    <p class="bg-warning text-center">{{ no_value_message }}</p>
  {% else %}
  {%endif %}
  <span class="h4">最高速度(knot)</span>
  <canvas id="max_speed"></canvas>
  <span class="h4">合計航行距離(m)</span>
  <canvas id="sum_distance"></canvas>
  <!--チャート設定-->
  <script>
      var max_speed = {{ max_speed_values.speed | tojson }};
      var labels_max_speed = {{ max_speed_values.label | tojson }};
      var sum_distance = {{ sum_distance_values.distance | tojson }};
      var labels_sum_distance = {{ sum_distance_values.label | tojson }};

      // 最高スピードの値
      var data_max_speed = {
        // X軸のラベル
        labels: labels_max_speed,
        datasets: [{
          // 線の太さを指定(px)
          borderWidth: 1,
          hoverBorderWidth:100, // ホバー時の枠線の太さ
          // 背景色指定(各グラフ毎)
          backgroundColor: Array.apply(null, Array(20)).map(function(){ return 'rgba(255, 206, 86, 0.2)' }),
          //棒グラフの外枠線の色指定(グラフ毎)
          borderColor: Array.apply(null, Array(20)).map(function(){ return 'rgba(255, 206, 86, 1)' }),
          //グラフの数値
          data: max_speed,
          datalabels: {
              align: 'end',
              anchor: 'end',
              color: '#111',
              font: {
                  size: 10
              },
          }
        }]
      };

      // 合計走行距離の値
      var data_sum_distance = {
        // X軸のラベル
        labels: labels_sum_distance,
        datasets: [{
          // 線の太さを指定(px)
          borderWidth: 1,
          hoverBorderWidth:100, // ホバー時の枠線の太さ
          // 背景色指定(各グラフ毎)
          backgroundColor: Array.apply(null, Array(20)).map(function(){ return 'rgba(75, 192, 192, 0.2)'}),
          //棒グラフの外枠線の色指定(グラフ毎)
          borderColor: Array.apply(null, Array(20)).map(function(){ return 'rgba(75, 192, 192, 1)' }),
          //グラフの数値
          data: sum_distance,
          datalabels: {
              align: 'end',
              anchor: 'end',
              color: '#111',
              font: {
                  size: 10
              },
          }
        }]
      };

      var option = {
        plugins: {
          filler: {
            propagate: true
          }
        },
        legend: {
          display: false,
        },
        // 目盛の設定
        scales: {
          // 横軸の設定
          xAxes: [{
            ticks: { // 目盛の設定
              display:false,
              min: 0, // Y軸の最大値
              max: Math.round(Math.max.apply(null, max_speed)) * 1.3, // Y軸の最小値
              beginAtZero: true,
              type: "time",
              time: {
                unit: 'minute',
                displayFormat: 'HH:mm',
              },
            },
            // グリッド線の設定
            gridLines:{
              display: false,
              // drawBorder:false,
              // lineWidth:1,
            },
          }],
          //縦軸の設定
          yAxes: [{
            barThickness:20,  //各バーの幅
            ticks: {
              beginAtZero: true, //開始値を0にする
              fontSize: 10,       //フォントサイズ
              maxRotation: 0,  // 最大角度
              minRotation: 0, // 斜めに表示
            },
          }],
        },
      };

      // // コピー
      var option_max_speed = JSON.parse(JSON.stringify(option));
      var option_sum_distance = JSON.parse(JSON.stringify(option));

      //
      option_max_speed.scales.xAxes[0].ticks.max = Math.round(Math.max.apply(null, max_speed)) * 1.3;
      option_sum_distance.scales.xAxes[0].ticks.max = Math.round(Math.max.apply(null, sum_distance)) * 1.3;
      // グラフ出力
      var ctx = document.getElementById('max_speed');
      new Chart(ctx, {
        type: 'horizontalBar',
        data: data_max_speed,
        options: option_max_speed,
      });

      // グラフ出力
      var ctx = document.getElementById('sum_distance');
      new Chart(ctx, {
        type: 'horizontalBar',
        data: data_sum_distance,
        options: option_sum_distance,
      });
  </script>

{% endblock %}