{% extends 'layout.html' %}
{% block content %}

  <script type="text/javascript" src="{{url_for('static', filename='js/outline.js')}}"></script>

  <h3 class="sub-fix-var">{{ title }}</h3>

  <form action="{{ url_for('outline_c.mod_outline', target_outline_id=target_entities[0].outline_id) }}" method="post" class="form-horizontal">

    <h5 class="first-sub-title">■ 日時情報</h5>

      <div class="form-set clearfix">
        <div class="float-label">
          <label for="date">練習日</label>
        </div>
        <div class="float-input">
          <input type="date" class="input-form" id="date" name="date" value="{{ target_entities[0].date }}">
        </div>
      </div>

      <div class="form-set clearfix">
        <div class="float-label">
          <label for="start_time">開始時間</label>
        </div>
        <div class="float-input">
          <input type="datetime-local" class="input-form" id="start_time" name="start_time" value="{{ target_entities[0].start_time }}">
        </div>
      </div>

      <div class="form-set clearfix">
        <div class="float-label">
          <label for="end_time">終了時間</label>
        </div>
        <div class="float-input">
          <input type="datetime-local" class="input-form" id="end_time" name="end_time" value="{{ target_entities[0].end_time }}">
        </div>
      </div>

    <h5 class="sub-title">■ 風情報</h5>

        <div class="form-set clearfix">
          <div class="slider-title">最低風速</div>
          <div class="slider-range">
            {% if target_entities[0].wind_speed_min %}
              <input type="range" class="range-input" name="windspeedmin" value={{ target_entities[0].wind_speed_min }} min="0" max="20" step="1">
              <div class="slider-value"><span>{{ target_entities[0].wind_speed_min }}</span><span>(m/s)</span></div>
            {% else %}
              <input type="range" class="range-input" name="windspeedmin" value="0" min="0" max="20" step="1">
              <div class="slider-value"><span>0</span><span>(m/s)</span></div>
            {% endif %}
          </div>
        </div>

        <div class="form-set clearfix">
          <div class="slider-title">最大風速</div>
          <div class="slider-range">
            {% if target_entities[0].wind_speed_max %}
              <input type="range" class="range-input" name="windspeedmax" value={{ target_entities[0].wind_speed_max }} min="0" max="20" step="1">
              <div class="slider-value"><span>{{ target_entities[0].wind_speed_max }}</span><span>(m/s)</span></div>
            {% else %}
              <input type="range" class="range-input" name="windspeedmax" value="0" min="0" max="20" step="1">
              <div class="slider-value"><span>0</span><span>(m/s)</span></div>
            {% endif %}
          </div>
        </div>

        <div class="form-set clearfix">
          <div>
            <label for="winddirectionchange">風向変化量</label>
          </div>
          <p class="radio-button">
            <span class="segmented-3">
              {% if target_entities[0].wind_direction_change == "小" %}
                <label><input type="radio" name="winddirectionchange" value="小" style="display: none;" checked="checked"><span class="label">小</span></label>
                <label><input type="radio" name="winddirectionchange" value="中" style="display: none;"><span class="label">中</span></label>
                <label><input type="radio" name="winddirectionchange" value="大" style="display: none;"><span class="label">大</span></label>
              {% elif target_entities[0].wind_direction_change == "中" %}
                <label><input type="radio" name="winddirectionchange" value="小" style="display: none;"><span class="label">小</span></label>
                <label><input type="radio" name="winddirectionchange" value="中" style="display: none;" checked="checked"><span class="label">中</span></label>
                <label><input type="radio" name="winddirectionchange" value="大" style="display: none;"><span class="label">大</span></label>
              {% elif target_entities[0].wind_direction_change == "大" %}
                <label><input type="radio" name="winddirectionchange" value="小" style="display: none;"><span class="label">小</span></label>
                <label><input type="radio" name="winddirectionchange" value="中" style="display: none;"><span class="label">中</span></label>
                <label><input type="radio" name="winddirectionchange" value="大" style="display: none;" checked="checked"><span class="label">大</span></label>
              {% else %}
                <label><input type="radio" name="winddirectionchange" value="小" style="display: none;"><span class="label">小</span></label>
                <label><input type="radio" name="winddirectionchange" value="中" style="display: none;"><span class="label">中</span></label>
                <label><input type="radio" name="winddirectionchange" value="大" style="display: none;"><span class="label">大</span></label>
              {% endif %}
            </span>
          </p>
        </div>
        
        <div class="form-set clearfix">
          <div>
            <label for="windspeedchange">風速変化量</label>
          </div>
          <p class="radio-button">
            <span class="segmented-3">
              {% if target_entities[0].wind_speed_change == "小" %}
                <label><input type="radio" name="windspeedchange" value="小" style="display: none;" checked="checked"><span class="label">小</span></label>
                <label><input type="radio" name="windspeedchange" value="中" style="display: none;"><span class="label">中</span></label>
                <label><input type="radio" name="windspeedchange" value="大" style="display: none;"><span class="label">大</span></label>
              {% elif target_entities[0].wind_speed_change == "中" %}
                <label><input type="radio" name="windspeedchange" value="小" style="display: none;"><span class="label">小</span></label>
                <label><input type="radio" name="windspeedchange" value="中" style="display: none;" checked="checked"><span class="label">中</span></label>
                <label><input type="radio" name="windspeedchange" value="大" style="display: none;"><span class="label">大</span></label>
              {% elif target_entities[0].wind_speed_change == "大" %}
                <label><input type="radio" name="windspeedchange" value="小" style="display: none;"><span class="label">小</span></label>
                <label><input type="radio" name="windspeedchange" value="中" style="display: none;"><span class="label">中</span></label>
                <label><input type="radio" name="windspeedchange" value="大" style="display: none;" checked="checked"><span class="label">大</span></label>
              {% else %}
                <label><input type="radio" name="windspeedchange" value="小" style="display: none;"><span class="label">小</span></label>
                <label><input type="radio" name="windspeedchange" value="中" style="display: none;"><span class="label">中</span></label>
                <label><input type="radio" name="windspeedchange" value="大" style="display: none;"><span class="label">大</span></label>
              {% endif %}
            </span>
          </p>
        </div>


      <div class="form-set clearfix">
        <div>
          <label for="winddirection">風向</label>
        </div>
        <p class="radio-button">
            <table class="wind-direction-table">
              <tr>
                <td></td>
                <td></td>
                <td>
                  <span class="segmented-8">
                  {% if target_entities[0].wind_direction == "北" %}
                    <label><input type="radio" name="winddirection" value="北" style="display: none;" checked="checked"><span class="label">北</span></label>
                  {% else %}
                    <label><input type="radio" name="winddirection" value="北" style="display: none;"><span class="label">北</span></label>
                  {% endif %}
                  </span> 
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <span class="segmented-8">
                  {% if target_entities[0].wind_direction == "北西" %}
                    <label><input type="radio" name="winddirection" value="北西" style="display: none;" checked="checked"><span class="label">北西</span></label>
                  {% else %}
                    <label><input type="radio" name="winddirection" value="北西" style="display: none;"><span class="label">北西</span></label>
                  {% endif %}
                  </span>
                </td>
                <td></td>
                <td>
                  <span class="segmented-8">
                  {% if target_entities[0].wind_direction == "北東" %}
                    <label><input type="radio" name="winddirection" value="北東" style="display: none;" checked="checked"><span class="label">北東</span></label>
                  {% else %}
                    <label><input type="radio" name="winddirection" value="北東" style="display: none;"><span class="label">北東</span></label>
                  {% endif %}
                  </span>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <span class="segmented-8">
                  {% if target_entities[0].wind_direction == "西" %}
                    <label><input type="radio" name="winddirection" value="西" style="display: none;" checked="checked"><span class="label">西</span></label>
                  {% else %}
                    <label><input type="radio" name="winddirection" value="西" style="display: none;"><span class="label">西</span></label>
                  {% endif %}
                  </span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <span class="segmented-8">
                  {% if target_entities[0].wind_direction == "東" %}
                    <label><input type="radio" name="winddirection" value="東" style="display: none;" checked="checked"><span class="label">東</span></label>
                  {% else %}
                    <label><input type="radio" name="winddirection" value="東" style="display: none;"><span class="label">東</span></label>
                  {% endif %}
                  </span>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <span class="segmented-8">
                  {% if target_entities[0].wind_direction == "南西" %}
                    <label><input type="radio" name="winddirection" value="南西" style="display: none;" checked="checked"><span class="label">南西</span></label>
                  {% else %}
                    <label><input type="radio" name="winddirection" value="南西" style="display: none;"><span class="label">南西</span></label>
                  {% endif %}
                  </span>
                </td>
                <td></td>
                <td>
                  <span class="segmented-8">
                  {% if target_entities[0].wind_direction == "南東" %}
                    <label><input type="radio" name="winddirection" value="南東" style="display: none;" checked="checked"><span class="label">南東</span></label>
                  {% else %}
                    <label><input type="radio" name="winddirection" value="南東" style="display: none;"><span class="label">南東</span></label>
                  {% endif %}
                  </span>
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <span class="segmented-8">
                  {% if target_entities[0].wind_direction == "南" %}
                    <label><input type="radio" name="winddirection" value="南" style="display: none;" checked="checked"><span class="label">南</span></label>
                  {% else %}
                    <label><input type="radio" name="winddirection" value="南" style="display: none;"><span class="label">南</span></label>
                  {% endif %}
                  </span>
                </td>
                <td></td>
                <td></td>
              </tr>
            </table>
            </span>
        </p>
        <p class="radio-button">
          <span class="segmented-8">
          </span>
        </p>
      </div>

    <h5 class="sub-title">■ 海面情報</h5>

      <div class="form-set clearfix">
        <div>
          <label for="seasurface">海面</label>
        </div>
        <p class="radio-button">
          <span class="segmented-3">
            {% if target_entities[0].sea_surface == "フラット" %}
              <label><input type="radio" name="seasurface" value="フラット" style="display: none;" checked="checked"><span class="label">フラット</span></label>
              <label><input type="radio" name="seasurface" value="チョッピー" style="display: none;"><span class="label">チョッピー</span></label>
              <label><input type="radio" name="seasurface" value="高波" style="display: none;"><span class="label">高波</span></label>
            {% elif target_entities[0].sea_surface == "チョッピー" %}
              <label><input type="radio" name="seasurface" value="フラット" style="display: none;"><span class="label">フラット</span></label>
              <label><input type="radio" name="seasurface" value="チョッピー" style="display: none;" checked="checked"><span class="label">チョッピー</span></label>
              <label><input type="radio" name="seasurface" value="高波" style="display: none;"><span class="label">高波</span></label>
            {% elif target_entities[0].sea_surface == "高波" %}
              <label><input type="radio" name="seasurface" value="フラット" style="display: none;"><span class="label">フラット</span></label>
              <label><input type="radio" name="seasurface" value="チョッピー" style="display: none;"><span class="label">チョッピー</span></label>
              <label><input type="radio" name="seasurface" value="高波" style="display: none;" checked="checked"><span class="label">高波</span></label>
            {% else %}
              <label><input type="radio" name="seasurface" value="フラット" style="display: none;"><span class="label">フラット</span></label>
              <label><input type="radio" name="seasurface" value="チョッピー" style="display: none;"><span class="label">チョッピー</span></label>
              <label><input type="radio" name="seasurface" value="高波" style="display: none;"><span class="label">高波</span></label>
            {% endif %}
          </span>
        </p>
      </div>

      <div class="form-set clearfix">
        <div>
          <label for="swell">うねり</label>
        </div>
        <p class="radio-button">
          <span class="segmented-3">
            {% if　target_entities[0].swell == "小" %}
              <label><input type="radio" name="swell" value="小" style="display: none;" checked="checked"><span class="label">小</span></label>
              <label><input type="radio" name="swell" value="中" style="display: none;"><span class="label">中</span></label>
              <label><input type="radio" name="swell" value="大" style="display: none;"><span class="label">大</span></label>
            {% elif　target_entities[0].swell == "中" %}
              <label><input type="radio" name="swell" value="小" style="display: none;"><span class="label">小</span></label>
              <label><input type="radio" name="swell" value="中" style="display: none;" checked="checked"><span class="label">中</span></label>
              <label><input type="radio" name="swell" value="大" style="display: none;"><span class="label">大</span></label>
            {% elif　target_entities[0].swell == "大" %}
              <label><input type="radio" name="swell" value="小" style="display: none;"><span class="label">小</span></label>
              <label><input type="radio" name="swell" value="中" style="display: none;"><span class="label">中</span></label>
              <label><input type="radio" name="swell" value="大" style="display: none;" checked="checked"><span class="label">大</span></label>
            {% else %}
              <label><input type="radio" name="swell" value="小" style="display: none;"><span class="label">小</span></label>
              <label><input type="radio" name="swell" value="中" style="display: none;"><span class="label">中</span></label>
              <label><input type="radio" name="swell" value="大" style="display: none;"><span class="label">大</span></label>
            {% endif %}
          </span>
        </p>
      </div>

    <h5 class="sub-title">■ 配艇</h5>

    {% for outline2 in target_entities[1] %}
    <div class="yacht-skipper">
        <div class="form-set clearfix">
          <div class="float-label">
            <label for="yachtnumber{{loop.index0}}">
              艇番{{ target_entities[1].index(outline2)+1 }}
            </label>
          </div>
          <div class="float-input">
            <select name="yachtnumber{{loop.index0}}" id="yachtnumber{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
                {% for yacht_number in outline_selections[5] %}
                  {% if yacht_number.yacht_no == outline2.yacht_number %}
                    <option value={{ yacht_number.yacht_no }} selected>{{ yacht_number.yacht_no }}</option>
                  {% else %}
                    <option value={{ yacht_number.yacht_no }}>{{ yacht_number.yacht_no }}</option>
                  {% endif %}
                {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-set clearfix">
          <div class="float-label">
            <label for="deviceid{{loop.index0}}">デバイス</label>
          </div>
          <div class="float-input">
            <select name="deviceid{{loop.index0}}" id="deviceid{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
              {% for device in outline_selections[7] %}
                {% if device.device_id == outline2.device_id %}
                  <option value={{ device.device_id }} selected>{{ device.device_id }}</option>
                {% else %}
                  <option value={{ device.device_id }}>{{ device.device_id }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

      <table id="edit-outline-table" class="table" >
        <tr>
          <td class="outline-td-pare"></td>
          <td class="outline-td-skipper">スキッパー</td>
          <td class="outline-td-crew">クルー</td>
        </tr>
        <tr>
          <td class="outline-td-pare">1</td>
          <td class="outline-td-skipper">
            <select name="skipper1{{loop.index0}}" id="skipper1{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
              {% for player_name in outline_selections[6] %}
                {% if player_name.player_name == outline2.skipper1 %}
                  <option value={{ player_name.player_name }} selected>{{ player_name.player_name }}</option>
                {% else %}
                  <option value={{ player_name.player_name }}>{{ player_name.player_name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          <td class="outline-td-crew">
            <select name="crew1{{loop.index0}}" id="crew1{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
              {% for player_name in outline_selections[6] %}
                {% if player_name.player_name == outline2.crew1 %}
                  <option value={{ player_name.player_name }} selected>{{ player_name.player_name }}</option>
                {% else %}
                  <option value={{ player_name.player_name }}>{{ player_name.player_name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
        </tr>

        <tr>
          <td class="outline-td-pare">2</td>
          <td class="outline-td-skipper">
            <select name="skipper2{{loop.index0}}" id="skipper2{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
              {% for player_name in outline_selections[6] %}
                {% if player_name.player_name == outline2.skipper2 %}
                  <option value={{ player_name.player_name }} selected>{{ player_name.player_name }}</option>
                {% else %}
                  <option value={{ player_name.player_name }}>{{ player_name.player_name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          <td class="outline-td-crew">
            <select name="crew2{{loop.index0}}" id="crew2{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
              {% for player_name in outline_selections[6] %}
                {% if player_name.player_name == outline2.crew2 %}
                  <option value={{ player_name.player_name }} selected>{{ player_name.player_name }}</option>
                {% else %}
                  <option value={{ player_name.player_name }}>{{ player_name.player_name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
        </tr>

        <tr>
          <td class="outline-td-pare">3</td>
          <td class="outline-td-skipper">
            <select name="skipper3{{loop.index0}}" id="skipper3{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
              {% for player_name in outline_selections[6] %}
                {% if player_name.player_name == outline2.skipper3 %}
                  <option value={{ player_name.player_name }} selected>{{ player_name.player_name }}</option>
                {% else %}
                  <option value={{ player_name.player_name }}>{{ player_name.player_name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          <td class="outline-td-crew">
            <select name="crew3{{loop.index0}}" id="crew3{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
              {% for player_name in outline_selections[6] %}
                {% if player_name.player_name == outline2.crew3 %}
                  <option value={{ player_name.player_name }} selected>{{ player_name.player_name }}</option>
                {% else %}
                  <option value={{ player_name.player_name }}>{{ player_name.player_name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
        </tr>

        <tr>
          <td class="outline-td-pare">4</td>
          <td class="outline-td-skipper">
            <select name="skipper4{{loop.index0}}" id="skipper4{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
              {% for player_name in outline_selections[6] %}
                {% if player_name.player_name == outline2.skipper4 %}
                  <option value={{ player_name.player_name }} selected>{{ player_name.player_name }}</option>
                {% else %}
                  <option value={{ player_name.player_name }}>{{ player_name.player_name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          <td class="outline-td-crew">
            <select name="crew4{{loop.index0}}" id="crew4{{loop.index0}}" class="input-form">
              <option value="">未入力</option>
              {% for player_name in outline_selections[6] %}
                {% if player_name.player_name == outline2.crew4 %}
                  <option value={{ player_name.player_name }} selected>{{ player_name.player_name }}</option>
                {% else %}
                  <option value={{ player_name.player_name }}>{{ player_name.player_name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
        </tr>
      </table>
      <hr>
    </div>
    {% endfor %}

    <div class="clearfix">
      <button id="open-yacht-skipper" type="button" class="btn-for-outline">艇番追加</button>
    </div>

    <h5 class="sub-title">■ 練習メニュー</h5>

    <ol id="menu">
      <li>
        <div class="training-input-menu">
          <select name="training1" id="training1" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training1 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time1" id="training_time1" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time1 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training2" id="training2" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training2 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time2" id="training_time2" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time2 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training3" id="training3" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training3 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time3" id="training_time3" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time3 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training4" id="training4" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training4 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time4" id="training_time4" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time4 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training5" id="training5" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training5 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time5" id="training_time5" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time5 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training6" id="training6" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training6 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time6" id="training_time6" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time6 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </Li>
      <li>
        <div class="training-input-menu">
          <select name="training7" id="training7" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training7 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time7" id="training_time7" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time7 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training8" id="training8" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training8 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time8" id="training_time8" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time8 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training9" id="training9" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training9 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time9" id="training_time9" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time9 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training10" id="training10" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training10 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time10" id="training_time10" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time10 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training11" id="training11" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training11 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time11" id="training_time11" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time11 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training12" id="training12" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training12 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time12" id="training_time12" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time12 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training13" id="training13" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training13 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time13" id="training_time13" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time13 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training14" id="training14" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training14 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time14" id="training_time14" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time14 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
      <li>
        <div class="training-input-menu">
          <select name="training15" id="training15" class="input-form">
            <option value="">未入力</option>
            {% for training_menu in outline_selections[8] %}
              {% if training_menu.training_menu == target_entities[0].training15 %}
                <option value={{ training_menu.training_menu }} selected>{{ training_menu.training_menu }}</option>
              {% else %}
                <option value={{ training_menu.training_menu }}>{{ training_menu.training_menu }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="training-input-time">
          <select name="training_time15" id="training_time15" class="input-form">
            <option value=0>未入力</option>
            {% for training_time in outline_selections[12] %}
              {% if training_time == target_entities[0].training_time15 %}
                <option value={{ training_time }} selected>{{ training_time }}分</option>
              {% else %}
                <option value={{ training_time }}>{{ training_time }}分</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </li>
    </ol>

    <div class="clearfix">
      <button id="menu-open" type="button" class="btn-for-outline">行の追加</button>
    </div>

    <hr>

    <button type="submit" class="btn btn-primary comment-edit-button flexiblebox btn-margin btn-float-right">
      <img src="{{ url_for('static', filename='img/button/notebook.png') }}" class="img-responsive button-img">
      <p class="button-text">ノートを保存</p>
    </button>

  </form>

  <form action="{{ url_for('outline_c.del_outline', target_outline_id=target_entities[0].outline_id) }}" method="post">
    <button type="submit" class="btn btn-danger btn-delete comment-edit-button flexiblebox btn-margin btn-float-left">
      <img src="{{ url_for('static', filename='img/button/trashbox.png') }}" class="img-responsive button-img">
      <p class="button-text">ノートを削除</p>
    </button>
  </form>

  </div>

{% endblock %}
