{% extends 'layout.html' %}
{% block content %}
  <h1>{{ title }}</h1>
  <form action="{{ url_for('mod_outline', target_outline_id=target_outline1.outline_id) }}" method="post" class="form-horizontal">
    <div class="form-group">
      <label for="date" class="col-sm-2 control-label">日付</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="date" name="date" value="{{ target_outline1.date }}">
      </div>
    </div>
    <div class="form-group">
      <label for="starttime" class="col-sm-2 control-label">開始時間</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="starttime" name="starttime" value="{{ target_outline1.start_time }}">
      </div>
    </div>
    <div class="form-group">
      <label for="endtime" class="col-sm-2 control-label">終了時間</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="endtime" name="endtime" value="{{ target_outline1.end_time }}">
      </div>
    </div>

    <div class="form-group">
      <label for="timecategory" class="col-sm-2 control-label">時間帯</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="timecategory" name="timecategory" value="{{ target_outline1.time_category }}">
      </div>
    </div>

    <h4>【風情報】</h4>
    <div class="form-group">
      <label for="windspeedmin" class="col-sm-2 control-label">最低風速</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="windspeedmin" name="windspeedmin" value="{{ target_outline1.wind_speed_min }}">
      </div>
    </div>
    <div class="form-group">
      <label for="windspeedmax" class="col-sm-2 control-label">最大風速</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="windspeedmax" name="windspeedmax" value="{{ target_outline1.wind_speed_max }}">
      </div>
    </div>
    <div class="form-group">
      <label for="winddirectionmin" class="col-sm-2 control-label">風向（最小）</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="winddirectionmin" name="winddirectionmin" value="{{ target_outline1.wind_direction_min }}">
      </div>
    </div>
    <div class="form-group">
      <label for="winddirectionmax" class="col-sm-2 control-label">風向（最大）</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="winddirectionmax" name="winddirectionmax" value="{{ target_outline1.wind_direction_max }}">
      </div>
    </div>
    <div class="form-group">
      <label for="windspeedchange" class="col-sm-2 control-label">風速変化</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="windspeedchange" name="windspeedchange" value="{{ target_outline1.wind_speed_change }}">
      </div>
    </div>

    <h4>【海面情報】</h4>

    <div class="form-group">
      <label for="seasurface" class="col-sm-2 control-label">海面</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="seasurface" name="seasurface" value="{{ target_outline1.sea_surface }}">
      </div>
    </div>
    <div class="form-group">
      <label for="swell" class="col-sm-2 control-label">うねり</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="swell" name="swell" value="{{ target_outline1.swell }}">
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>【艇番】</th>
          <th>【スキッパー】</th>
          <th>【クルー】</th>
        </tr>
      </thead>
      {% for outline2 in target_outline2 %}
      <tr>
        <td rowspan="3">
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="yachtnumber{{loop.index0}}" name="yachtnumber" value="{{ outline2.yacht_number }}">
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="skipper1{{loop.index0}}" name="skipper1" value="{{ outline2.skipper1 }}">
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="crew1{{loop.index0}}" name="crew1" value="{{ outline2.crew1 }}">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="skipper2{{loop.index0}}" name="skipper2" value="{{ outline2.skipper2 }}">
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="crew2{{loop.index0}}" name="crew2" value="{{ outline2.crew2 }}">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="skipper3{{loop.index0}}" name="skipper3" value="{{ outline2.skipper3 }}">
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="crew3{{loop.index0}}" name="crew3" value="{{ outline2.crew3 }}">
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>

    <h4>【練習メニュー】</h4>

    <div class="form-group">
      <label for="training1" class="col-sm-2 control-label">練習1</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training1" name="training1" value="{{ target_outline1.training1 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training2" class="col-sm-2 control-label">練習2</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training2" name="training2" value="{{ target_outline1.training2 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training3" class="col-sm-2 control-label">練習3</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training3" name="training3" value="{{ target_outline1.training3 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training4" class="col-sm-2 control-label">練習4</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training4" name="training4" value="{{ target_outline1.training4 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training5" class="col-sm-2 control-label">練習5</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training5" name="training5" value="{{ target_outline1.training5 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training6" class="col-sm-2 control-label">練習6</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training6" name="training6" value="{{ target_outline1.training6 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training7" class="col-sm-2 control-label">練習7</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training7" name="training7" value="{{ target_outline1.training7 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training8" class="col-sm-2 control-label">練習8</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training8" name="training8" value="{{ target_outline1.training8 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training9" class="col-sm-2 control-label">練習9</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training9" name="training9" value="{{ target_outline1.training9 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training10" class="col-sm-2 control-label">練習10</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training10" name="training10" value="{{ target_outline1.training10 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training11" class="col-sm-2 control-label">練習11</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training11" name="training11" value="{{ target_outline1.training11 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training12" class="col-sm-2 control-label">練習12</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training12" name="training12" value="{{ target_outline1.training12 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training13" class="col-sm-2 control-label">練習13</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training13" name="training13" value="{{ target_outline1.training13 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training14" class="col-sm-2 control-label">練習14</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training14" name="training14" value="{{ target_outline1.training14 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="training15" class="col-sm-2 control-label">練習15</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="training15" name="training15" value="{{ target_outline1.training15 }}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 変更
        </button>
      </div>
    </div>
  </form>
  <a class="btn btn-default" href="{{ url_for('top') }}">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 戻る
  </a>
{% endblock %}
