{% extends 'layout.html' %}
{% block content %}
  <h2>追加</h2>

   <form action="{{ url_for('add_outline') }}" method="post" class="form-inline">
      開始時間：<input type="datetime-local" class="form-control" id="starttime" name="starttime", value={{ datetime_now }}>
      終了時間：<input type="datetime-local" class="form-control" id="endtime" name="endtime", value={{ datetime_now }}>
      時間区分：<select name="time_category" id="time_category" class="form-control">
          {% for time_category in time_categories %}
        <option value={{ time_category }}>{{ time_category }}</option>
          {% endfor %}
      </select>

      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 追加
      </button>
  </form>

  <h2>一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>日付</th>
        <th>時間</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      {% for outline in outline_list %}
      <tr>
        <td>{{ outline.training_date }}</td>
        <td>{{ outline.time_category }}</td>
        <td>
          <a class="btn btn-success" href="{{ url_for('outline_detail', target_outline_id=outline.outline_id) }}">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 詳細
          </a>
      </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
<form action="{{ url_for('add_outline') }}" method="post" class="form-inline">
  <label for="username">Name</label>
  <input type="datetime-local" class="form-control" id="starttime" name="starttime", value={{ datetime_now }}>
    <input type="datetime-local" class="form-control" id="endtime" name="endtime", value={{ datetime_now }}>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 追加
    </button>
</form>
<a class="btn btn-success" href="{{ url_for('admin_player')}}">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 選手管理
</a>
<a class="btn btn-success" href="{{ url_for('admin_yacht')}}">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> ヨット管理
</a>
<a class="btn btn-success" href="{{ url_for('admin_device')}}">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> デバイス管理
</a>
<a class="btn btn-success" href="{{ url_for('admin_menu')}}">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 練習メニュー
</a>

{% endblock %}

